@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
  .section__container {
    display: flex;
    gap: 2.5rem;
  }

  .hero__images .img-wrapper {
    flex: 1;
    min-height: 0;
  }

  .hero__images picture {
    display: block;
    height: 100%;
  }

  .hero__images .img {
    height: 100%;
    width: 100%;
  }

  @include respond-to(lg) {
    .section__container {
      flex-direction: column;
    }

    .hero__images .img-wrapper { flex: none; }
    .hero__images picture      { height: auto; }
    .hero__images .img         { height: auto; }
  }
}
