---
import Section from '../common/Section.astro'
---

<Section class="manufacturing" paddingTop="8rem">
    <div class="manufacturing__hero">
        <p data-i18n-html="manufacturing.hero"></p>
    </div>
</Section>
