---
import Section from '../common/Section.astro'
import PdfViewer from '../common/PdfViewer.astro'
---
<Section class="documentation" paddingTop="8rem">
    <PdfViewer
        src="docs/tu.pdf"
        title="ТУ У 24.2-455223116002:2025"
    />
</Section>
