@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

@use 'base/reset';
@use 'base/typography';

@use 'components/common/pdf-viewer';
@use 'components/common/title';

@use 'components/contacts/herocontacts';

@use 'components/documentation/documentation';

@use 'components/gallery/gallery';
@use 'components/gallery/gallery-block';

@use 'components/index/hero';
@use 'components/index/slogan';
@use 'components/index/production';
@use 'components/index/features';

@use 'components/manufacturing/heromanufacturing';
@use 'components/manufacturing/pipe-types';
@use 'components/manufacturing/factory';

@use 'components/common/logo';



:root {
  --container-width: 1320px;
  --container-padding: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-bg-light;
}

.wrapper {
  min-height: 100vh;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
