---
interface Props {
    class?: string
    id?: string
    fullWidth?: boolean
}
const { class: className, id, fullWidth = false } = Astro.props
---

<section {id} class={`section ${className ?? ''}`}>
    <div class={`section__container ${fullWidth ? 'section__container--full' : ''}`}>
        <slot />
    </div>
</section>

<style lang="scss">
  @use '../styles/abstracts/variables' as *;

  .section {


    &__container {
      max-width: $container-max;
      margin: 0 auto;
      padding: 0 $container-padding;

      &--full {
        max-width: 100%;
        padding: 0;
      }
    }
  }
</style>