---
interface Props {
    class?: string
    id?: string
    fullWidth?: boolean
    paddingTop?: string
}
const {
    class: className,
    id,
    fullWidth = false,
    paddingTop
} = Astro.props
---

<section {id} class={`section ${className ?? ''}`} style={paddingTop ? `padding-top: ${paddingTop}` : undefined}>
    <div class={`section__container ${fullWidth ? 'section__container--full' : ''}`}>
        <slot />
    </div>
</section>

<style lang="scss">
  @use '../styles/abstracts/variables' as *;
  @use '../styles/abstracts/mixins' as *;

  .section {

    &__container {
      display: flex;
      max-width: $container-max;
      margin: 0 auto;

      padding: $spacing-2xl $spacing-3xl;

      @include respond-to(lg) {
        padding: $spacing-xl $spacing-2xl;
      }

      @include respond-to(md) {
        padding: $spacing-xl $spacing-xl;
      }

      @include respond-to(sm) {
        padding: $spacing-md $spacing-md;
      }

      &--full {
        max-width: 100%;
        padding: 0;
      }
    }
  }
</style>