---
import Divider from './Divider.astro'

const alignMap = {
    'start':  'section-title--start',
    'center': 'section-title--center',
    'end':    'section-title--end',
} as const

interface Props {
    MainText: string
    align?: keyof typeof alignMap  // 'start' | 'center' | 'end'
}
const { MainText = "Title", align = 'start'} = Astro.props

const alignClass = alignMap[align]
---
<div class={`section-title ${alignClass}`}>
    <h1 data-i18n-html={MainText}></h1>
    <Divider />
</div>

<style lang="scss">
  @use '../styles/abstracts/variables' as *;
  @use '../styles/abstracts/mixins' as *;

  .section-title {
    width: 100%;
    gap: $spacing-xl;
  }

  .section-title--start  { @include flex-start;flex-direction: column;}
  .section-title--center { @include flex-center;flex-direction: column;}
  .section-title--end    { @include flex-end;flex-direction: column;}
</style>