---
import Section from '../common/Section.astro'
import Title from '../common/Title.astro'
---
<Section class="hero-gallery" paddingTop="8rem">
    <Title MainText="gallery.titleMain" align="center" level="h1"/>
</Section>
