---
import Section from '../common/Section.astro'
import GalleryBlock from './GalleryBlock.astro'

import imgMain2 from '../../assets/images/pipe-highlight.jpg'
import imgMain3 from '../../assets/images/port-diagram.png'

import img1 from '../../assets/images/index-1.jpeg'
import img2 from '../../assets/images/index-2.jpeg'
import img3 from '../../assets/images/index-3.jpeg'
import img4 from '../../assets/images/index-4.jpeg'
import img5 from '../../assets/images/index-5.jpeg'
import img6 from '../../assets/images/index-6.jpeg'
import img7 from '../../assets/images/index-7.jpeg'
import img8 from '../../assets/images/index-8.jpeg'
---

<Section class="gallery" paddingTop="4rem">
    <GalleryBlock
        mainVideo="https://www.youtube.com/watch?v=0TiT7ACZ5xQ"
        sub={[img1, img2, img3, img4]}
    />
    <GalleryBlock
            mainVideo="https://www.youtube.com/watch?v=no0TpGtHEgE"
            sub={[img5, img6, img7, img8]} reversed
    />
    <GalleryBlock main={imgMain3} sub={[img1, img3, img5, img7]} />
</Section>
