---
interface Props {
    width?: number
}
const { width = 377 } = Astro.props
const min = Math.round(width * 0.4)
const vw = (width / 14.4).toFixed(1)
const clampWidth = `clamp(${min}px, ${vw}vw, ${width}px)`
---

<div class="divider" style={`max-width: ${clampWidth}`}></div>

<style lang="scss">
    @use '../../styles/abstracts/variables' as *;

    .divider {
        width: 100%;
        height: 4px;
        background-color: $color-text-selected;
    }
</style>