---
import Section from '../common/Section.astro'
import Title from '../common/Title.astro'
import Card from '../common/Card.astro'
import AppImage from '../common/AppImage.astro'
import firstPicture from '../../assets/images/port-diagram.png'
import secondPicture from '../../assets/images/wall-diagram.png'
import thirdPicture from '../../assets/images/bridge-diagram.png'
import fourthPicture from '../../assets/images/tunnels-diagram.png'

const featuresCards = [
    {image: firstPicture, imageAlt:'port-diagram', title: 'features.firstTitle', text: 'features.firstText'},
    {image: secondPicture, imageAlt:'wall-diagram', title: 'features.secondTitle', text: 'features.secondText'},
    {image: thirdPicture, imageAlt:'bridge-diagram', title: 'features.thirdTitle', text: 'features.thirdText'},
    {image: fourthPicture, imageAlt:'tunnels-diagram', title: 'features.fourthTitle', text: 'features.fourthText'}
]
---

<Section class="features">
    <Title MainText="features.title" align="center"/>
    <div class="features__grid">
        {featuresCards.map(({ image, imageAlt, title, text}) => (
            <Card>
                <AppImage
                        src={image}
                        alt={imageAlt}
                        width={300}
                        height={220}
                        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 25vw"
                        quality={75}
                />

                <h2 data-i18n={title}></h2>

                <span data-i18n={text}></span>
            </Card>
        ))}
    </div>
</Section>