---
import Section from '../common/Section.astro'
import Icon from '../common/Icon.astro'
---
<Section class="hero-contacts" paddingTop="8rem">
    <div class="hero-contacts__wrapper">
        <Icon name="telephone" size={30} />
        <div class="hero-contacts__container">
            <span class="hero-contacts__title" data-i18n-html="contacts.telTitle"></span>
            <span class="hero-contacts__text" data-i18n-html="contacts.telText"></span>
        </div>
    </div>
    <div class="hero-contacts__wrapper">
        <Icon name="email" size={30} />
        <div class="hero-contacts__container">
            <span class="hero-contacts__title" data-i18n-html="contacts.emailTitle"></span>
            <span class="hero-contacts__text" data-i18n-html="contacts.emailText"></span>
        </div>
    </div>
</Section>

