@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

h1 {
  font-family: $font-roboto;
  font-size: font-clamp(3rem);
  font-weight: $font-weight-bold;
  max-width: 100%;

  @include respond-to(md){
    font-size: font-clamp(2rem);
  }

  @include respond-to(sm){
    font-size: font-clamp(1.5rem);
  }
}

h2 {
  font-family: $font-roboto;
  font-size: font-clamp(2.5rem);
  font-weight: $font-weight-medium;

  @include respond-to(md){
    font-size: font-clamp(1.5rem);
  }
}

span{
  font-family: $font-roboto;
  font-size: font-clamp(1rem);
  font-weight: $font-weight-normal;
}

p{
  font-family: $font-TimesNewRoman;
  font-weight: $font-weight-normal;
  font-size: font-clamp(1.4rem);
}